    <h4><%= _("Merge Articles") %></h4>
    Article ID
    <%= form_tag( {:controller => "admin/content", :action => 'merge', :id => @article.id} ) do %>
      <%= text_field_tag(:merge_with) %>
      <%= submit_tag("Merge") %>
    <% end %>
    


