    <h4><%= _("Merge Articles") %></h4>
    Article ID
    <input id="merge_with" type="text" name="merge_with" class='large' />
    <input id='merge_article' type="submit" value="<%= _('Merge') %>" name="merge_article" />
    
