<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

  <div class='mergeArticles'>
    <%= render 'merge_articles' if @article.id and current_user.admin? %>
  </div>    
  </div>
